<!DOCTYPE html>
<html>
<head>
    <title>Exercice 3</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="m-3">
    <h1 class="text-3xl font-bold">Information</h1>
    <ul>
        <li><strong>OS:</strong> {{ os }} {{ osversion }}</li>
        <li><strong>CPU:</strong> {{ cpu }}</li>
        <li><strong>Nombre de Coeur :</strong> {{ cpuheart }}</li>
        <li><strong>Nom du PC:</strong> {{ nom }}</li>
        <li><strong>IP:</strong> {{ ip }}</li>
    </ul>
</body>
</html>
